@import "mixins";
.Ptitle{
    color: #bdbdbd;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0 55px 0;
    @include media(tablet){
        margin-bottom: 150px;
     }
}
#particles-js{
    height: 100vh;
    background-color: #000;

}
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: #000000
}
.link{
    font-size: 20px;
    color: #fd8787;
}
.title{
    padding-top: 20px;
    color: #bdbdbd;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
.container{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

.btn{
    background-color: Transparent;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    color: #bdbdbd;
    padding: 10px;
    text-transform: uppercase;
    transition: .2s linear;
    &:hover{
        background-color: #bdbdbd;
        color: #000000;
    }
}
.portfolio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    &__txt{
        font-size: 30px;
        text-transform: uppercase;
        z-index: 2;
        color: #bdbdbd;
        animation: text 3s 1;
    }
    &__inner{
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__btn{
        margin-top: 15px;
    }
}

@keyframes text {
    0%{
        color: #000;
        margin-bottom: 40px;
    }
    100%{
        color: #bdbdbd;
    }
}

// popup*********************************

.popup{
    
 
    z-index: 100;
    position: absolute;
    left: 50%;
	top: 0;


    transform: translate(-50%, -100%);
    transition: .3s ;
    &__title{
        text-align: center;
    }
    &__inner{
        color: #bdbdbd;
        background-color: #272727;
        height: 500px;
        width: 700px;
        border: 1px solid #414141;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__closeBtn{
        margin-bottom: 20px;
    }
    &__subT{
        div{
            margin-top: 5px;
        }
        padding: 15px;
        text-align: center;
    }
}
.active{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
// project +++++++++++++++++++++
.project{
    &__inner{
        
        display: flex;
        margin-bottom: 100px;
        height: 254px;
        justify-content: space-evenly;
        @include media(tablet){
            flex-direction: column;
            align-items: center;
        }
        @include media(tablet){
           margin-bottom: 200px;
        }
    }
    &__desc{
        position: relative;
        color: #bdbdbd;
        padding: 10px;
        div{
            margin-bottom: 10px;
        }
    }
    &__btn{
        position: absolute;
        right: 15px;
        bottom: 5px;
        display: flex;
        justify-content: center;
        @include media(tablet){
            position: static;
            margin-top: 20px;
        }
    }
    &__title{
        text-align: center;
        text-transform: uppercase;
        @include media(tablet){
            margin-top: 15px;
        }
    }
    &__txt{
        max-width: 500px;
       
        @include media(tablet){
            max-width: 450px;
        }
    }
    
    &__img {
        @include media(tablet){
            margin:0 auto;
        }
        opacity: .7;
        flex-shrink: 0;
        max-width: 100%;
      
        width: 500px;
        max-height: 254px;
        img{
            box-shadow: 0px 0px 15px rgb(138, 138, 138);
            max-width: 100%;
            border-radius: 5px;
        }
    }
}
// slider &**********************
.slider{
    background-color: #000000;

     
}
.slideshow-container{
    max-width: 1000px;
    height: auto;
    position: relative;
    margin: auto;
}

.prev, .next{
    cursor:pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 12px;
    color: rgb(107, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    
    background-color: rgba(70, 70, 70, 0.5);
}

.next{
    right: 0;

    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.fade{
    animation: fade 1.5s;
}
@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}

@media screen and (max-width: 700px) {
    .popup{
        &__inner{
            width: 300px;
        }
    }
}
